<div class="container mt-5">
  <div class="row">
      <div class="col-lg-8 offset-lg-2">
          <div class="card">
              <div class="card-body text-center">
                  <span class="titulo">LISTADO DE ADOPCIONES</span>
                  <button class="btn btn-success float-end" routerLink="/crear-adopcion">NUEVO</button>
                  <table class="table table-striped mt-4">
                      <thead>
                        <tr>
                          <th scope="col">Nombre</th>
                          <th scope="col">Especie</th>
                          <th scope="col">Género</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let adopcion of listAdopciones">
                          <td>{{ adopcion.nombre }}</td>
                          <td>{{ adopcion.especie }}</td>
                          <td>{{ adopcion.genero }}</td>
                          <td>
                              <i [routerLink]="['/editar-adopcion', adopcion._id]" class="fas fa-edit text-primary"></i>
                              <i (click)="eliminarAdopcion(adopcion._id)" class="fas fa-trash text-danger"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
              </div>
          </div>
      </div>
  </div>
</div>