<main class="container">
    <h1 class="text-center my-5">Registro</h1>
    <form class="my-5" (ngSubmit)="register()">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          aria-describedby="emailHelp"
          [(ngModel)]="user.name"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          aria-describedby="emailHelp"
          [(ngModel)]="user.email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          [(ngModel)]="user.password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </main>